{% extends 'base.html' %}
{% block content %}


<form action="{% url 'todos:create' %}">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">제목</label>
        <input type="text" class="form-control" maxlength="80" name="title" placeholder="제목을 입력해 주세요">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">내용</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="content" placeholder="내용을 입력해 주세요">
    </div>
    <button type="submit" class="btn btn-primary">리뷰 쓰기</button>
</form>











{% endblock %}